.btn{
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-family:'Space Mono', monospace;
    font-weight: 700;
    font-size: 1.5rem;
    width: 7.5rem;
    height: 3rem;
    flex-wrap: wrap;
}

.btn-darkgreen{
    background-color: #00474B;
    color: white;
    &:hover{
        background-color: #9FE8DF;
        color: #004F4C;
    }
}

.btn-lightgreen{
    background-color: #26C2AD;
    color: #00474b;
    height: 3rem;
    font-weight: 700;
    font-size: 1.5rem;
    &:hover{
        background-color: #9FE8DF;
        color: #004F4C;
    }
}

.btn-block{
    width: 100%;
}

.btn-active{
    background-color:#26C2AD;
    color: #004F4C;
}

.btn-disable{
    background-color: #0D686D;
    &:hover{
        background-color: #0D686D;
    }
}