.main{
    width: 100%;
    height: 100vh;
    background-color: #C5E4E7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
}
.container-grid{
    width: 100%;
}
.contaier-main{
    width: 920px;
    height: 480px;
}

.container-row{
    display: flex;
    flex-direction: row;
}

.container-col{
    display: flex;
    flex-direction: column;
}


//              ||||||||              //
.container-content-center{
    justify-content: center;
}

//               ------               //
.container-content-spacebetween{
    justify-content: space-between;
}

.container-content-end{
    justify-content: flex-end;
}

.container-items-center{
    align-items: center;
}

//childs
//proporcion de los hijos, que tan rapido crece comparado con sus hermanos,determina el tamaño si no se ha especificado
.flex{
    flex: 1 1   ;
}

.flex-btn{
    flex:percentage($number: 0.3);
}

.flex-wrap{
    flex-wrap: wrap;
}