.tip__main{
    
    padding: 35px;
    border-radius: 20px;
}


.tip__bg-dark-green{
    background-color: #00474B;
}

.tip__bg-white{
    background-color: whitesmoke;
}

.p1{
    color: whitesmoke;
    margin: 0;
    
}

.p2{
    color: #86B6BA;
    margin: 0;
    
    
}
.p3{
    color: #20BEA7;
    font-size: 30px;
}
